DATABASE_URL="postgresql://ahmedtakeshy7:ognZ76xNKTqD@ep-square-bread-a2jynn4x-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://ahmedtakeshy7:ognZ76xNKTqD@ep-square-bread-a2jynn4x.eu-central-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="jvyc3OjnpBe4z+L9OMnGEJez7iIfUj7f0J4/fZwM5nM="
NEXTAUTH_URL="http://localhost:3000"